.bloco{
    border: 1px solid blue;
    box-align: center;
    margin-top: 5em;
    margin-left: 30em;
    margin-right: 30em;
    
    }

.bloco-Superior {
    display: flex;
    margin-left: 8em;
    margin-right: 10em;
}

.bloco-Inferior {
    display: flex;
    margin-left: 8em;
    margin-right: 10em;
}

.interno {
    text-align: center;
    background-color:#87CEFA;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    
}

.interno p{
    font-size: 80%;
}

.interno h3{
    padding-top: -50em;
    text-transform: uppercase;
    font-size: 100%;
}

.bloco .esquerda{
padding-top: 10em;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}