.classe1 {
    font-family: 'Courier New', Courier, monospace;
    color: green;
}

.classe2 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

#idTexto {
font-family: Arial, Helvetica, sans-serif;
color: blue;
}